@model EcommerceProject.Models.Product
@{
    ViewData["Title"] = "Details";
}

    <div class="border p-4 rounded">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsAviable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsAviable)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialTag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialTag.TagName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTypes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductTypes.Type)
            </dd>
        </dl>
        <div class="col-md-4">
            <img src="~/@Model.Image" style="border-radius: 5px;border: 1px solid #efefef" width="250" height="250" />
        </div>
        <div class="form-group">
            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="far fa-edit"></i></a>
            <a asp-action="Index" class="btn btn-info"><i class="fas fa-undo"></i></a>

        </div>

    </div>

